# Basic data science and ML libraries
numpy>=1.26.0, <1.27.0
pandas>=2.1.1, <2.2.0
scikit-learn>=1.3.2, <1.4.0
xgboost>=2.0.0, <2.1.0

# Jupyter notebook
jupyter>=1.0.0, <1.1.0
ipykernel>=6.0.0, <7.0.0

# Data processing and visualization
matplotlib>=3.7.0, <3.8.0
seaborn>=0.12.0, <0.13.0

# Web scraping and URL processing
requests>=2.31.0, <2.32.0
beautifulsoup4>=4.12.2, <4.13.0
python-whois>=0.8.0, <0.9.0
